# Byte-compiled / optimized / DLL files
__pycache__/

# all python-related ENvironment Variable directories
.env
.venv
env/
venv/

# Project-specific directories and files
.idea

# directory to store the user's data
/data
